.admin-user-report{
    .card{
        .card-body{
            p {
                color: #405889 !important;
                font-weight: bold;
            }
            input,
            select {
                background-color: #EFEFEF;
            }
        }
    }
}

.download-excel{
    background-color: var(--main-navyblue);
    color: white;
}

.download-excel:hover{
    background-color: rgb(55, 55, 166);
    color: white;
}