.profile-creation-container{
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.profile-creation-container > .row > .image-container{
    width: 100%;
    height: 200px;
}
.profile-creation-container>.row>.image-container >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-creation-container > .profile-form-container > .row > .image-container{
    height: 138px;
    width: 150px;
    border-radius: 50%;
}
.profile-creation-container>.profile-form-container>.row>.image-container >img {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
}

.profile-creation-container > .profile-form-container > .row >.profile-form{
    width: 70%;
    margin: 20px auto;
}

.profile-creation-container>.profile-form-container>.row>.profile-form>form>.form-group>select {
    background-color: #EFEFEF;
    height: 40px;
    margin: 10px 0;
    font-size: 18px !important;
    color: var(--main-navyblue) !important;
    padding-left: 10px !important;

}
.profile-creation-container>.profile-form-container>.row>.profile-form>form>.form-group>input {
    background-color: #EFEFEF;
    height: 40px;
    margin: 10px 0;
}
.profile-creation-container>.profile-form-container>.row>.profile-form>form>.form-group>textarea {
    background-color: #EFEFEF;
   
}

.profile-creation-container>.profile-form-container>.row>.profile-form>form>.form-group>input::placeholder {
    color: var(--main-navyblue);

    font-size: 18px;
}

.profile-creation-container>.profile-form-container>.row>.profile-form>form>.form-group>textarea::placeholder {
    color: var(--main-navyblue);
    font-size: 18px;
}

.profile-creation-container>.profile-form-container>.profile-form >form>.card {
    background-color: #EFEFEF;
}

.profile-creation-container .skills-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.profile-creation-container .skills-list .skill-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #81f664;
    width: fit-content;
    flex-wrap: wrap;
    padding: 4px 10px;
    border-radius: 14px;
    color: #fff;
    gap: 6px;
}
.profile-creation-container .skills-list .skill-beginner {
    background: #81f664;
}
.profile-creation-container .skills-list .skill-intermediate {
    background: #f5e878;
}
.profile-creation-container .skills-list .skill-expert {
    background-color: #64caf6;
}
.profile-creation-container .domain-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.profile-creation-container .domain-list .domain-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    gap: 10px;
    background-color: var(--main-navyblue);
    color: var(--main-white);
    border-radius: 14px;
    padding: 6px;
}
.profile-creation-container form .create-button-container {
    display: flex;
    justify-content: flex-end;
}
.profile-creation-container form .create-button-container .create-button {
    background-color: var(--main-navyblue);
    color: var(--main-white);
    width: 120px;
}
