

.dept_container {
    background-image: url('../../assets/dept-bg.png');
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.dept_container>.title{
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}