
.notification-container{
    background-color: #E9EDFE;
    border-radius:12px;
}

.notification-container >.row>.col>.d-flex>.btn{
    border-radius:10px;
    font-size: 10px;
    font-weight:600;

}
.notification-container >.row>.col>.d-flex>.success{
  background-color: var(--main-green);
  color: white;
}
.notification-container >.row>.col>.d-flex>.danger{
    background-color: var(--main-red);
  color: white;

  }
.notification-container >.row>.col-8>h6{
    font-size: medium;
    font-weight:600;

}

.notification-msg{
  font-size:smaller ;
}

