.back-btn{
    background-color: var(--main-navyblue);
    color: var(--main-white);
    padding: 10px;
    font-size: xx-large;
    border-radius: 50%;
}

.banner{
    background-color: var(--main-blue);
    color: var(--main-white);
    height: 20vh;
    border-radius: 15px;
}

