.admin-navbar {
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    i{
        color: white;
        font-size: 24px;
        margin-left: 20px;
        transition: 200ms;
        &:hover{

            transform: scale(1.2);
        }
    }
    .logo{
        color: white;
        font-size: 24px;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li{
            list-style-type: none;
        }
    }
}