.project-add-header{
    font-size: 35px;
    color: var(--main-blue);
    font-weight: 700;
}

.project-add-back-btn{
    position: fixed;
    margin:0px 15px;
    z-index: 20;
}

.project-add-form{
    margin:10px 20%;
}

.project-add-form-input{
    background-color: var(--main-lightwhite);
}

.project-add-create-btn{
    background-color: var(--main-navyblue);
    color: white;
}

.project-add-create-btn:hover{
    background-color: #16226dcb;
    color: white;
}

.skill-batch{
    background-color: var(--main-green);
    color: white;
    width:fit-content ;
    border-radius: 10px;
}