.loading-container{
    height: 100vh;
    position: fixed;
    z-index:1001;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    .row{
        display: flex;
        margin: 20% 40%;
    }
    
}
@media screen and (max-width: 480px) {
  .loading-container{
    .row{
        margin: 35% 10%;
    }
  }
}