.project-show-container{
    .banner-project{
    background-color: #566E7A;
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
    color: white;
}
.applicant-img{
    shape-outside: circle(50%);
}
.applicant-card{
    background-color: #5378F8;
    color: white;
    border-radius: 10px;
}
.banner-profile{
    height: 160px !important;
    width:240px !important;
}
.banner-profile-1{
    height: 50px !important;
}
}

.stipend-contaier{
    box-shadow: inset 0px 0px 22px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-radius: 12px;
    scroll-behavior: auto;
    overflow-y: hidden;
}

@media (max-width: 766px)  {
    .banner-profile{
        display: none;
    }
    .banner-profile-1{
        display: none;
    }
  }
