

.project-add-header{
    font-size: 35px;
    color: var(--main-blue);
    font-weight: 700;
}


.project-add-form-input{
    width: 100%;
    background-color: #EFEFEF;
}

.project-add-create-btn{
    background-color: var(--main-navyblue);
    color: white;
}

.project-add-form input::placeholder,.project-add-form textarea::placeholder,.option-color,option{
   color:black;
}

.tech-add{
    justify-content: start;
}

.width-tech{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #81f664;
    width: fit-content;
    flex-wrap: wrap;
    padding: 4px 10px;
    border-radius: 14px;
    color: #fff;
    gap: 6px;
    
}


.project-add-submit-btn,.project-add-submit-btn:hover{
    background-color: #37FB06;
    color: white;
}

.text-end-profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
