.outer-container{
    height: 100vh;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    width: 100%;
}
.image-container{
    position: relative;
    width: 100%;
    height: 200px;
    /* position: absolute; */
}
.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Add_study{
    position: relative;
    display: flex;
    align-items: center;
    height: 210px;
    width: 60%;
    margin-top: 5rem;
    margin-left: 20%;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;  
}
.Study_Request{
    width: 80%;
    padding: 10%;
    padding-left: 50px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 3vw;
line-height: 48px;
color: rgba(32, 143, 239, 0.7);
}
.plus_study{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
margin: 10px;
width: 114px;
height: 114px;
border-radius: 50%;
background: #189C00;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.plus_study>i{
    color: #FFFFFF;
}
.Profile-Container{
    height: 400px;
    width: 60%;
    position: absolute;
    margin-top: 5rem;
    margin-left: 20%;
    background: #FFFFFF;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.Profile-Conatiner-Top{
   height: 200px;
   width: 100%;
   /* background: black; */
   margin-left: 0 !important;
}
.Profile-icon>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.Profile-Name-Container{
    padding-top: 20px;
}
.Profile-Name{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
color: var(--main-navyblue);
}
.Domain-Name{
    display: flex;
    font-family: 'Inter';
    padding-left: 10px;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 28px;
color: rgba(0, 0, 0, 0.58);
align-items: center;

}
.Edit-panal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20% !important;
}
.Edit-panal>img{
    height: 42px;
    width: 42px;
    margin: -50px;
}
.Edit-panal>div{
    height: 42px;
    width: 42px !important;
    margin: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background: #324B7F;
}
.Edit-panal>div>i{
    color: #FFFFFF;
}
.check{
    background: black;
}
.star-panal{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 40px;
    /* width: 50% !important; */
}
.star-panal>img{
    height: 42px;
    width: 42px;
    margin: 0px;
}
.Profile-mid{
    display:flex;
    padding-top: 0 !important;
    padding-left: 20px !important;
}
.Profile-mid>div{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
color: var(--main-navyblue);
}
.Profile-mid>i{
    color: rgba(0, 0, 0, 0.88);
}
.Profile-end{
    font-family: 'Inter';
    color:var(--main-navyblue);
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 29px;
padding-left:20px !important;
}
.About{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.Skills-Container{
    position: relative;
    height: 300px;
    width: 60%;
    margin-top: 20rem;
    margin-left: 20%;
    background: #FFFFFF;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.Skills-Title{
    width: 100%;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: var(--main-navyblue);
}

.Skills{
    height: 80%;
    width: 100%;
    display: grid !important;
    grid-template-columns: auto auto auto auto ;
    /* background: #000000; */
}
.Skill-Div{
    padding: 5px;
    margin: 10px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
color: rgba(0, 0, 0, 0.58);
    margin-left: 0 !important;
    background: rgba(55, 251, 6, 0.6);
border-radius: 12px;
}
.Add-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
bottom: 10px;
right: 10px;
background: #189C00;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.Add-skill>i{
    color: #FFFFFF;
}
.outer-container>.row{
    position: relative;
}
.Study-Date{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.57);
}
.Study-Title{
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    height: 20%;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #007FED;   
}
.Work-History{
    position: relative;
    height: 700px;
    width: 60%;
    margin-top: 5rem;
    margin-left: 20%;
    background: #FFFFFF;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.Work-History-section{
    position: relative;
    margin-bottom: 20px;
    width: 827px;
height: 163px;
background: #FFFFFF;
box-shadow: inset 0px 0px 22px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.Work-History>.row>.row{
    padding-top: 20px;
}
.Work-History-section>.row{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.Work-Dept>div{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: rgba(0, 0, 0, 0.58);

}
.Work-Title{
    height: 20%;
    width: 100%;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 2.5vw;
line-height: 48px;
color: #007FED;
}
.Work-Dept{
    display: flex;
    align-items: center;
}
.blue-dot{
    margin: 10px;
    width: 8px;
height: 8px;
border-radius: 50%;
background: #007FED;
}
.Work-Posted{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 2vw;
line-height: 24px;
color: #007FED;
}
.blue-line{
    color: #007FED !important;
    font-size: 15px !important;
    font-weight: 900;
    margin: 5px;
}
.Study-History-section{
    position: relative;
    margin-bottom: 20px;
    width: 827px;
height: 183px;
background: #FFFFFF;
box-shadow: inset 0px 0px 22px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.Study-History>.row>.row{
    padding-top: 20px;
}
.Study-History-section>.row{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}
.Styudy-dis{
    width: 100% !important;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}
.Study-link{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
position: absolute;
left: 620px;
color: #007FED;
bottom: 10px;
}
.Study-Project-Container{
    position: relative;
    height: 750px;
    width: 60%;
    margin-top: 5rem;
    margin-left: 20%;
    background: #FFFFFF;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
border-radius: 20px;   
}
.Study-Project-Container>.row>.row{
    padding-top: 20px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
height: 50px;
background: #324B7F;
box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.back>i{
    color: #FFFFFF;
}
.rating-section{
    width: 102%;
    display: flex !important;
    justify-content: space-between;
}
.Work-star-panal{
    bottom: 22px;
    right: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 40px;
}
.Work-star-panal>img{
    height: 32px;
    width: 32px;
    margin: 0px;
}
.back>a{
    color: rgb(255, 255, 255) !important;
}
.blur{
    filter: blur(3px);
}