.right-side-container>div ,.left-side-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.right-side-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(5px 5px 5px #222);
}

.left-side-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(5px 5px 5px #222);
}




