.admin-project-report-container{
    .card{
        .card-body{
            p{
                color:#405889 !important;
                font-weight: bold;
            }
            input,select{
                background-color: #EFEFEF;
            }
        }
    }   
}